body { 
    background: #fdf9f2;
    color: rgb(36, 36, 36);
}

#header {
    border: 2px solid green;
    border-radius: 5px;
}

h1 {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

#subtitle {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

h2 {
    width: 500px;
    height: auto;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    padding: 20px 20px 20px 50px;
    margin:5px;
}

p {
    width: 500px;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    margin:5px; 
}

ul {
    padding: 10px;
}

ol {
    padding: 10px; 
}

ul>li {
    list-style-type: circle;
    list-style-position: inside;
    padding: 5px;
    color:  rgb(36, 36, 36);
}

ol>li {
    list-style-position: inside;
    padding: 5px;
    color:  rgb(36, 36, 36);
}

.indent {
    list-style-type: square;
    margin-left: 30px;
}

#upperleft {
    border: 2px solid green;
    border-radius: 5px;
    position:absolute;
    top: 175px;
    right: 620px;
}

#upperright {
    border: 2px solid green;
    border-radius: 5px;
    position:absolute;
    top: 175px;
    right: 20px;
    height: 270px;
}

#lowerleft {
    border: 2px solid green;
    border-radius: 5px;
    position:absolute;
    top: 500px;
    right: 620px;
}

#lowerright {
    border: 2px solid green;
    border-radius: 5px;
    position:absolute;
    top: 500px;
    right: 20px;
}

#favMovies{
    border: 2px solid green;
    border-radius: 5px;
    position:absolute;
    top: 815px;
    right: 620px; 
}