body { 
    /* background: #b3b2b2; */
    color: rgb(36, 36, 36);
    font-family: Helvetica, sans-serif;
    line-height: 1.4em;
    background-image: url(img/MGP_Logo.png);
}

#header {
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 15px black;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    line-height: 1em;
}

h1 {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

#subtitle {
    width: 100%;
    height: auto;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

h2 {
    width: 500px;
    height: auto;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

p {
    width: 500px;
    height: auto;
    font-size: 14px;
    padding: 10px;
}

ul {
    padding: 10px;
}

ol {
    padding: 10px; 
}

ul>li {
    list-style-type: circle;
    list-style-position: inside;
    padding: 5px;
    color:  rgb(36, 36, 36);
    font-size: 20px;
}

ol>li {
    list-style-position: inside;
    padding: 5px;
    color:  rgb(36, 36, 36);
    font-size: 20px;
}

.indent {
    list-style-type: square;
    margin-left: 30px;
}

#upperleft {
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    position:absolute;
    top: 175px;
    left: 100px;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-align: left;
}

#upperright {
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    position:absolute;
    top: 175px;
    right: 100px;
    height: auto;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-align: left;
}

#lowerleft {
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    position:absolute;
    top: 500px;
    left: 100px;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-align: left;
}

#lowerright {
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    position:absolute;
    top: 420px;
    right: 100px;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-align: left;
}

#favMovies{
    border: 2px solid green;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
    position:absolute;
    top: 910px;
    left: 100px;
    padding: 10px;
    width: 400px;
    margin: auto;
    text-align: left;
} 